
#scrolling {
    position: fixed;
    top: 16px !important;
    bottom: 16px !important;
    right: 0 !important;
    width: 300px !important;
    overflow: auto;
}

.lyrics-header {
    margin-left: 0 !important;
}