
/**
 * Container for the lyrics
 **/
.gm-lyrics {
	padding-left: 20px;
	padding-top: 4px;
	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}