
#scrolling {
    left: initial !important;
    right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 300px !important;
    max-width: 300px !important;
}

#scrolling paper-dialog-scrollable {
    margin-top: 0;
}

.lyrics-header {
    margin-left: 0 !important;
}
